:root {
  --small-breakpoint: 576px;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7f0e9;
}

h2,
h3 {
  flex: 0 0 100%;
}

.App {
  font-family: sans-serif;
}

.searchForm {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 10px;
}

.locationContainer {
  padding: 10px;
  flex: 3 1 var(--small-breakpoint);
  display: flex;
  flex-flow: wrap;
}

.locationList {
  display: flex;
  flex-wrap: wrap;
}

.locationItem {
  flex: 1 1 calc(var(--small-breakpoint) / 2);
}

.keywordContainer {
  padding: 10px;
  flex: 2 1 auto;
}

.submitBtn {
  display: block;
  margin-top: 10px;
  padding: 2px 15px;
  background-color: #0c4261;
  color: white;
}

.resultsContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: #0c4261;
}

.cardContainer {
  padding: 50px 150px 0 150px;
  flex: 1 0 100%;
  display: flex;
}

.cardContainer:last-child {
  padding-bottom: 50px;
}

.left {
  padding: 10px;
  flex: 0 0 var(--small-breakpoint);
  background-color: #f7f0e9;
}

.right {
  padding: 10px;
  flex: 1 1;
  background-color: #00ffe0;
}

.message {
  padding-left: 20px;
  color: red;
}
